@mixin colors {
  --font-color: black;
  --background: #eee;
  --foreground: white;
  --decal: #ccc;
  --decal-dark: #999;
  --error: rgb(206, 37, 37);
  --accept: rgb(107, 212, 0);
  --accept-dark: rgb(86, 172, 0);
}

$medium: 768px;

@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin bottomShadow($color) {
  box-shadow: 0 2px $color;
}

.checkout-wrapper {
  @include colors();

  * {
    box-sizing: border-box;
  }

  color: var(--font-color);
  background-color: var(--background);
  width: 100%;
  padding-top: 2rem;
}

.checkout {
  @include min-width($medium) {
    width: 80%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  form {
    @include min-width($medium) {
      width: 60%;
    }

    counter-reset: header;

    h2 {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }

    h2::before {
      counter-increment: header;
      content: counter(header);
      border-radius: 50%;
      background-color: var(--font-color);
      color: var(--foreground);
      padding: 0.25ch 0.6ch;
      margin: 0 1ch;
      display: inline-block;
    }

    section {
      --gap: 1.5rem;
      @include min-width($medium) {
        flex-flow: row wrap;
      }
      display: flex;
      flex-flow: column wrap;
      gap: var(--gap, 1.5rem);

      padding: 1rem;
      margin-left: 1rem;
    }

    .input-wrapper {
      @include min-width($medium) {
        // Gap by half
        min-width: calc(50% - calc(var(--gap, 1.5rem) / 2));
        width: auto;
        flex-grow: 1;
      }
      width: 100%;
      background-color: var(--foreground);
      border-radius: 3px;
      padding: 5px;
      font-weight: bold;

      @include bottomShadow(var(--decal));

      &:focus-within {
        outline: 2px solid var(--decal-dark);
      }

      label {
        cursor: pointer;
        font-size: 0.8rem;
        display: block;
      }

      input,
      select {
        width: 100%;
        border: none;
        outline: none;
        appearance: none;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--decal-dark);
      }

      &.fullwidth {
        width: 100%;
      }
    }

    input[type="submit"] {
      width: 100%;
      @include bottomShadow(var(--accept-dark));
      cursor: pointer;
      outline: none;
      border: none;
      background-color: var(--accept);
      color: var(--foreground);
      border-radius: 3px;
      padding: 1.5rem 0;
      font-weight: bolder;
    }
  }

  &-summary {
    @include min-width($medium) {
      width: 30%;
      position: sticky;
      top: 1rem;
    }

    padding: 1rem;
    margin: 1rem;
    outline: 5px solid var(--foreground);
    border: 1px dashed var(--decal);
    border-radius: 3px;

    background-color: var(--foreground);

    h2 {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: bolder;
      margin: 0.5rem 0;
    }

    &-list {
      border-bottom: 1px dashed var(--decal);
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-flow: column nowrap;

      div {
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-between;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.big {
  font-size: 2rem;
  font-weight: bolder;
}

.uppercase {
  text-transform: uppercase;
}

.caret {
  position: relative;

  &:focus-within {
    &::after {
      transform: rotate(-180deg);
      color: var(--decal-dark);
    }
  }

  &::after {
    content: "➤";
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    right: 0;
    transform: -50%;
    padding: 0 1rem;
    color: var(--decal);
    transition: all 0.5s;
  }
}

.hint {
  position: relative;

  &::after {
    z-index: 2;
    cursor: pointer;
    content: "?";
    position: absolute;
    top: 30%;
    right: 10px;
    transform: -50%;
    padding: 0.2rem 0.5rem;
    color: var(--decal);
    border: 1px solid var(--decal);
    border-radius: 50%;
    transition: all 0.2s;
  }

  &:hover::after {
    top: 0;
    left: 80%;
    transform: translate(0 -50%);
    display: block;
    width: 100px;
    background-color: var(--foreground);
    color: var(--decal-dark);
    content: attr(data-hint);
    border-radius: 3px;
    border: 1px dashed var(--decal-dark);
    padding: 1rem;
  }
}
