@mixin colors {
  --font-color: black;
  --background: #eee;
  --foreground: white;
  --decal: #ccc;
  --decal-dark: #999;
  --error: rgb(226, 72, 72);
  --accept: rgb(107, 212, 0);
  --accept-dark: rgb(86, 172, 0);
}

$medium: 768px;
$large: 960px;

@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin bottomShadow($color) {
  box-shadow: 0 2px $color;
}

.checkout-wrapper {
  @include colors();

  * {
    box-sizing: border-box;
  }

  color: var(--font-color);
  background-color: var(--background);
  width: 100%;
  padding-top: 2rem;
}

.checkout {
  @include min-width($medium) {
    width: 80%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: medium;
  }

  font-size: large;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  form {
    @include min-width($medium) {
      width: 60%;
    }

    counter-reset: header;

    h2 {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }

    h2::before {
      counter-increment: header;
      content: counter(header);
      border-radius: 50%;
      background-color: var(--font-color);
      color: var(--foreground);
      padding: 0.25ch 0.6ch;
      margin: 0 1ch;
      display: inline-block;
    }

    section {
      --gap: 1.5rem;
      @include min-width($medium) {
        flex-flow: row wrap;
      }
      display: flex;
      flex-flow: column wrap;
      gap: var(--gap, 1.5rem);

      padding: 1rem;
      margin-left: 1rem;
    }

    .input-wrapper {
      @include min-width($large) {
        // Gap by half
        width: calc(50% - calc(var(--gap, 1.5rem) / 2));
      }
      @include bottomShadow(var(--decal));

      width: 100%;
      background-color: var(--foreground);
      border-radius: 3px;
      padding: 5px;
      font-weight: bold;

      &:focus-within {
        outline: 2px solid var(--decal-dark);
      }

      label {
        cursor: pointer;
        font-size: 0.8rem;
        display: inline-block;
      }

      &.required label::after {
        content: "*";
        color: var(--error);
        margin: 0 1rem;
      }

      span {
        color: var(--error);
        font-size: 0.8rem;
      }

      input,
      select {
        width: 100%;
        border: none;
        outline: none;
        appearance: none;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--decal-dark);
      }

      &.fullwidth {
        width: 100%;
      }

      &.error {
        outline: 2px solid var(--error);
      }
    }

    button[type="submit"] {
      @include bottomShadow(var(--accept-dark));
      position: static;
      width: 100%;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: var(--accept);
      color: var(--foreground);
      border-radius: 3px;
      padding: 1.5rem 0;
      font-weight: bolder;

      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        background-image: var(--icon-url);
        background-size: contain;
        display: block;
        width: 2em;
        height: 2em;
        margin: 0 1em;
        filter: invert(100%);
      }

      &:disabled {
        background-color: var(--accept-dark);
      }
    }
  }

  &-summary {
    @include min-width($medium) {
      width: 30%;
      position: sticky;
      top: 1rem;
    }

    padding: 1rem;
    margin: 1rem;
    outline: 5px solid var(--foreground);
    border: 1px dashed var(--decal);
    border-radius: 3px;

    background-color: var(--foreground);

    h2 {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: bolder;
      margin: 0.5rem 0;
    }

    &-list {
      border-bottom: 1px dashed var(--decal);
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-flow: column nowrap;

      div {
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-between;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.big {
  font-size: 2rem;
  font-weight: bolder;
}

.uppercase {
  text-transform: uppercase;
}

.caret {
  position: relative;

  &:focus-within {
    &::after {
      transform: rotate(-180deg);
      color: var(--decal-dark);
    }
  }

  &::after {
    content: "➤";
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    right: 0;
    transform: -50%;
    padding: 0 1rem;
    color: var(--decal);
    transition: all 0.5s;
  }
}

.icon {
  position: relative;
  &::after {
    content: "";
    background-image: var(--icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 2em;
    height: 2em;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
  }
}

.hint {
  position: relative;

  &::after {
    transition: top 0.3s;
  }

  &:hover::after,
  &:focus-within::after {
    position: absolute;
    top: 10%;
    right: 0;
    display: block;
    width: 10rem;
    height: fit-content;
    background-color: var(--foreground);
    background-image: none;
    color: var(--decal-dark);
    content: attr(data-hint);
    border-radius: 3px;
    border: 1px dashed var(--decal-dark);
    padding: 1rem;
  }
}

.anim-1::after {
  animation: whirly 1s 1;
}

.rotation-inf::after {
  animation: rotation 0.8s infinite;
}

@keyframes whirly {
  from {
    transform: scale(0) rotate(-360deg);
  }
  75% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
